body {
	margin: 0;
	font-family: 'Roboto', sans-serif, Arial
}

nav {
	position: fixed;
	background-color: #f3ecec;
	width: 100%;
	height: 50px;
	border-bottom: 2px solid #e7e1e1;
	padding: 0 20px;
	text-align: right;
}

nav h1 {
	font-size: 22px;
	font-weight: bold;
	margin-top: 13px;
	margin-bottom: 0;
	position: absolute;
}

nav h1 a {
	color: #170035;
}

nav ul {
	list-style: none;
	display: inline-block;
	margin-right: 50px;
	margin-bottom: 0;
}

nav li {
	display: inline-block;
	padding-left: 10px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

main {
	padding: 100px;
}

.search {
	margin-bottom: 50px;
}

.input-text {
	width: 350px;
	height: 25px;
	border: 1px solid #e7e1e1;
	border-radius: 3px;
	padding: 0 5px;
	margin-right: 3px;
	float: left;
}

.input-submit {
	width: 25px;
	height: 25px;
	float: left;
	border: 1px solid #e7e1e1;
	border-radius: 3px; 
}

.pages {
	font-size: 0;
	margin-bottom: 45px;
}

.button-pages {
	background-color: #ffffff;
	border: 1px solid #e7e1e1;
	border-radius: 3px;
	height: 40px;
	padding: 0 15px;
}

.button-pages a {
	color: #170035;
}
.button-pages a:hover {
	text-decoration: none;
}

.button-pages-left {
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px; 
}

.button-pages-middle {
	border-radius: 0px;
	border-left: none;
	border-right: none;
}

.button-pages-right {
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
}

.result-container {
	margin: 20px 0;
}

.result-date {
	display: inline-block;
	color: #838383;
	padding-right: 5px;
	margin: 0;
}

.result-name {
	display: inline-block;
	padding-right: 5px;
	margin: 0;
}

.result-link {
	color: #1136dd;
	font-weight: bold;
	margin: 0;
}

.result-company {
	display: inline-block;
	color: #838383;
	margin: 0;
}